.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.container{
  display: flex;
  justify-content: space-between;
}
.headerSelect{
  padding: 5px;
  border: 1px solid blue;
  margin:15px
}

form{
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.loginComponent{
  width: 80vw;
}

h1{
  text-align: center;
}

.main{
  display: flex;
  justify-content: center;
}

input{
  margin: 5px;
}
